/* #Header
================================================== */
.header .nav-icon:last-child {
  margin-left: 0;
} 

.header .header-logo {
  margin-left: 17vw;
}

/* #Footer
================================================== */
footer .newsletter .email-field input {
  padding-bottom: .52083rem;
  padding-top: .52083rem;
  font-size: 1.04vw;
}

@media (max-width: 1023.98px) {
  footer .newsletter .email-field input {
    padding-bottom: 1.06667rem;
    padding-top: 1.06667rem;
    font-size: 4vw;
  }
}

/* #Home
================================================== */

/* Header */
#home-header .card .links {
  justify-content: center;
}

#home-header .card .links > * {
  margin: 0 .5vw;
}

/* Properties */
@media (max-width: 1023.98px) {
  #home-properties .h2 {
    margin-bottom: 6rem;
  }

  #home-properties .properties-container .property {
    width: 45rem;
  }
}

/* #Swiper Pagination
================================================== */
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #007AFF;
}