/* #Global
================================================== */
.card .links {
  justify-content: center;
}

.card .links > * {
  margin: 0 .5vw;
}

.card.vertical .card-content .woocommerce-loop-product__title {
  font-size: 1.04vw;
  margin-bottom: .5vw;
}

.card.vertical .purchase-container {
  margin-bottom: 0!important;
}

.card.horizontal.medium {
  align-items: stretch;
}

.card.horizontal.medium .card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.card.horizontal.medium .card-content .links {
  margin-top: auto;
}

@media (max-width: 1023.98px) {
  .card.horizontal {
    box-shadow: 0px 3.2vw 2.8vw #00000029;
  }

  .circle .circle-text {
    font-size: 3.2rem;
  }

  .card.horizontal.small .card-content {
    flex-grow: 1;
  }

  .card .links > * {
    margin: 0 2vw;
  }

  .card.horizontal.medium .card-content .links .purchase {
    padding: .66667rem 3.86667rem .95rem 3.86667rem;
  }

  .card.vertical .card-content .woocommerce-loop-product__title {
    font-size: 3.73vw;
    margin-bottom: 5.3vw;
  }

  .card-container .card-content .purchase-container .prices {
    font-size: 4.26vw!important;
    margin-bottom: 6.93vw;
  }

  .card-container .card-content .purchase-container a {
    font-size: 3.83vw!important;
  }

  .card.horizontal.small .prices {
    margin-bottom: 0;
  }

  .card.horizontal .card-content .woocommerce-loop-product__title {
    font-size: 4.26vw;
    margin-bottom: 4.6vw;
  }

  .card.horizontal.small .card-img {
    margin-left: 2.4vw;
  }

  .slider .slider-choose-type .radio-btn input:checked+label {
    font-size: 3.73vw!important;
  }

  .card-content,
  .card-container .card-content .card-content-description {
    font-size: 3.73rem;
  }

  .card-container .card.horizontal.small .purchase-container .prices {
    font-size: 3.73vw!important;
  }

  .slider .slider-toggle-title {
    font-size: 7.33vw;
  }

  .home-slides-toggle .home-slides-toggle-img {
    margin-bottom: 4vw;
    object-fit: contain;
  } 

  .card.horizontal.medium {
    padding: 5.67333rem 1.816rem 5.67333rem 4.53333rem;
  }

  .card.square {
    box-shadow: 0px 3.2vw 2.8vw #0000001a;
  }

  .card.horizontal.large {
    box-shadow: 0px 3.2vw 2.8vw #7965652e;
  }

  .card.square img {
    height: 9.26667rem;
  }
}

/* #Header
================================================== */
.header .nav-icon:last-child {
  margin-left: 0;
} 

.header .header-logo {
  margin-left: 17vw;
}

/* #Footer
================================================== */
footer .newsletter .email-field input {
  padding-bottom: .52083rem;
  padding-top: .52083rem;
  font-size: 1.04vw;
}

@media (max-width: 1023.98px) {
  footer .newsletter .email-field input {
    padding-bottom: 1.06667rem;
    padding-top: 1.06667rem;
    font-size: 4vw;
  }

  footer .footer-nav-container {
    padding-top: 6vw;
  }

  footer .newsletter {
    background-size: cover;
  }
}

/* #Home
================================================== */

#home-properties .h2 {
  margin-bottom: 3vw;
}

.home-slides-toggle {
  margin-top: 2.5vw;
}

.home-slides-toggle .swiper-slide {
  height: auto;
}

.home-slides-toggle .swiper-slide .card-container,
.home-slides-toggle .swiper-slide .card {
  height: 100%;
}

.home-slides-toggle .purchase-container {
  margin-top: auto;
}

.home-slides-toggle .card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.home-slides-toggle .home-slides-toggle-content .home-toggle-title {
  margin-bottom: 1.65vw;
}

@media (max-width: 1023.98px) {
  #home-header .h3 {
    font-size: 4vw;
    margin-bottom: 3.5vw;
  }

  #home-header .card.horizontal.large .card-content .h4 {
    margin-bottom: 8vw;
  }

  #home-properties .h2 {
    font-size: 7.33vw;
  }

  #home-links .link-item .h2 {
    font-size: 7.33vw;
  }

  #home-links .link-item .p1 {
    font-size: 4.26vw;
  }

  #home-links .home-links-link {
    background-size: cover;
    background-position: top right;
  }

  #home-watched .home-watched-title {
    font-size: 7.33vw;
  }

  #home-properties .h2 {
    margin-bottom: 6rem;
  }

  #home-properties .properties-container .property {
    width: 47rem;
  }

  #home-properties .properties-container .property:first-child {
    border: none;
  }
  .home-slides-toggle .home-slides-toggle-content .home-choose-type {
    flex-wrap: wrap;
  }

  .home-slides-toggle .home-slides-toggle-content .home-choose-type .radio-btn,
  .home-slides-toggle .home-slides-toggle-content .home-choose-type .radio-btn label {
    display: block;
  }

  .home-slides-toggle .home-slides-toggle-content .home-choose-type .radio-btn {
    margin-bottom: 2vw;
  }

  .home-slides-toggle .home-slides-toggle-content .home-toggle-title {
    margin-bottom: 6.25vw;
  }

  .home-slides-toggle .purchase-container {
    margin-top: auto!important;
  }
}

/* Favorites
================================================== */
.most-popular-section .swiper-slide {
  height: auto;
}

.most-popular-section .swiper-slide .card-container,
.most-popular-section .swiper-slide .card {
  height: 100%;
}

.most-popular-section .purchase-container {
  margin-top: auto;
}

.most-popular-section .card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.most-popular-section .title-section-row .title-section {
  margin-bottom: 2.5vw;
}

@media (max-width: 1023.98px) {
  .favorites-container {
    padding-top: 10.6vw;
  }

  .most-popular-section .title-section-row .title-section {
    margin-bottom: 6.25vw;
    font-size: 7.33vw;
  }

  .most-popular-section .purchase-container {
    margin-top: auto!important;
  }

  .most-popular-section .card.vertical .card-content .woocommerce-loop-product__title {
    font-size: 3.73vw;
  }

  .favorites-container .favorites-row-title .favorites-page-title {
    font-size: 7.3vw;
    margin-bottom: 4.6vw;
  }

  .favorites-container .favorites-row-subtitle .order-list-select {
    box-shadow: 0 24px 21px rgba(0, 0, 0, .1);
    padding: 3vw 2vw;
    margin-bottom: 10vw;
  }

  .favorites-container .favorites-row-subtitle .favorites-page-subtitle {
    font-size: 4.26vw;
    margin-bottom: 5.33vw;
  }
}

/* #Swiper Pagination
================================================== */
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #007AFF;
}

/* #Shop
================================================== */
.facetwp-selections .facetwp-selection-value,
.woocommerce-shop .site-main .products-container .order-form-wrapper .category-clear-sort .btn-reset-sort-select, 
.woocommerce.tax-product_cat .site-main .products-container .order-form-wrapper .category-clear-sort .btn-reset-sort-select {
  font-size: 0.83vw;
  border: 1px solid black;
  opacity: .65;
}

.woocommerce-shop .site-main .shop-sidebar-wrappe aside.sidebar .side-filter-list .filter-item-content .facetwp-facet .facetwp-checkbox:before, .woocommerce.tax-product_cat .site-main .shop-sidebar-wrappe aside.sidebar .side-filter-list .filter-item-content .facetwp-facet .facetwp-checkbox:before {
  border-radius: 50%;
}

.woocommerce-shop .site-main .shop-sidebar-wrappe .filter-item-container .filter-item-content .facetwp-checkbox.checked:before, 
.woocommerce.tax-product_cat .site-main .shop-sidebar-wrappe .filter-item-container .filter-item-content .facetwp-checkbox.checked:before {
  border: 1px solid #007AFF;
  content: '';
}

.woocommerce-shop .site-main .shop-sidebar-wrappe aside.sidebar .side-filter-list .filter-item-content .facetwp-facet .facetwp-checkbox.checked::after, 
.woocommerce.tax-product_cat .site-main .shop-sidebar-wrappe aside.sidebar .side-filter-list .filter-item-content .facetwp-facet .facetwp-checkbox.checked::after {
  content: '';
  position: absolute;
  top: .175vw;
  right: .175vw;
  width: 0.45vw;
  height: 0.45vw;
  background-color: #007AFF;
  border-radius: 50%;
}

.woocommerce-shop .site-main .woocommerce-breadcrumb, .woocommerce.tax-product_cat .site-main .woocommerce-breadcrumb {
  margin-top: 0;
}

.woocommerce-shop .site-main .top-filter-category .top-filter-container .top-filter-box .facetwp-checkbox, .woocommerce.tax-product_cat .site-main .top-filter-category .top-filter-container .top-filter-box .facetwp-checkbox {
  height: auto;
}

.woocommerce-shop .site-main .top-filter-category .top-filter-container .top-filter-box .img-cat-filter-wrapp, .woocommerce.tax-product_cat .site-main .top-filter-category .top-filter-container .top-filter-box .img-cat-filter-wrapp {
  height: 100%;
  width: 66%;
  max-width: 100%;
}

.woocommerce-shop .site-main .shop-sidebar-wrappe .filter-item-container .facetwp-facet, .woocommerce.tax-product_cat .site-main .shop-sidebar-wrappe .filter-item-container .facetwp-facet {
  padding-top: .3vw;
}

.products-container .facetwp-facet {
  margin-bottom: 5vw!important;
}

.woocommerce-shop .site-main .top-filter-category, .woocommerce.tax-product_cat .site-main .top-filter-category {
  margin-bottom: 4vw;
}

.woocommerce-shop .site-main .products-container .order-form-wrapper, 
.woocommerce.tax-product_cat .site-main .products-container .order-form-wrapper,
.woocommerce-shop .site-main .products-container .result-count-wrapper, 
.woocommerce.tax-product_cat .site-main .products-container .result-count-wrapper {
  margin-bottom: 1vw;
}

.products-container .card.vertical > img {
  height: 10.4vw;
  width: 100%;
  object-fit: contain;
  margin-bottom: .5vw;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title, 
.woocommerce-page ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product .price, 
.woocommerce-page ul.products li.product .price {
  font-size: 1.04vw;
}

.card.vertical .card-content>div:last-child {
  margin-bottom: 0;
}

.woocommerce-shop .site-main .shop-sidebar-wrappe .side-filter-list, .woocommerce.tax-product_cat .site-main .shop-sidebar-wrappe .side-filter-list {
  padding-top: 4.3vw;
}

.woocommerce-shop .site-main .shop-sidebar-wrappe, .woocommerce.tax-product_cat .site-main .shop-sidebar-wrappe {
  padding-left: 0;
}

.woocommerce-shop .site-main .products-container, .woocommerce.tax-product_cat .site-main .products-container {
  padding-right: 3vw;
}

@media (max-width: 1023.98px) {
  .facetwp-selections .facetwp-selection-value,
  .woocommerce-shop .site-main .products-container .order-form-wrapper .category-clear-sort .btn-reset-sort-select, 
  .woocommerce.tax-product_cat .site-main .products-container .order-form-wrapper .category-clear-sort .btn-reset-sort-select {
    font-size: 4vw;
    padding: 1.3rem 4rem;
  }

  .woocommerce-shop .site-main .woocommerce-breadcrumb, .woocommerce.tax-product_cat .site-main .woocommerce-breadcrumb {
    padding-right: 4vw;
    padding-top: 4vw;
  }

  .woocommerce-shop .site-main .products-container .category-items-data-list, .woocommerce.tax-product_cat .site-main .products-container .category-items-data-list {
    padding-right: 4vw;
    margin-bottom: 6vw;
  }

  .woocommerce-shop .site-main .products-container .category-items-data-list ul li .facetwp-selection-value, 
  .woocommerce.tax-product_cat .site-main .products-container .category-items-data-list ul li .facetwp-selection-value {
    padding: 1.3rem 4rem;
    padding-right: 6rem;
    background-position: center right 1.5rem;
  }

  .woocommerce-shop .site-main .products-container .result-count-wrapper, .woocommerce.tax-product_cat .site-main .products-container .result-count-wrapper {
    margin-bottom: 0;
  }

  .woocommerce-shop .site-main .products-container .woocommerce-result-count, .woocommerce.tax-product_cat .site-main .products-container .woocommerce-result-count {
    margin-bottom: 4vw;
  }

  .woocommerce-shop .site-main .top-filter-category, 
  .woocommerce.tax-product_cat .site-main .top-filter-category {
    margin-bottom: 6vw;
  }

  .woocommerce-shop .site-main .products-container .order-form-wrapper, 
  .woocommerce.tax-product_cat .site-main .products-container .order-form-wrapper .products-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: right;
    justify-content: space-between;
    background-color: white;
  }

  .order-form-wrapper .category-clear-sort {
    flex: 0 0 100%;
    order: -2;
    margin-bottom: 4vw;
    margin-top: -3vw;
    text-align: right;
  }

  .woocommerce-shop .site-main .products-container .order-form-wrapper .mobile-filter-btn-wrap, 
  .woocommerce.tax-product_cat .site-main .products-container .order-form-wrapper .mobile-filter-btn-wrap {
    order: -1;
  }

  .woocommerce-shop .site-main .products-container .order-form-wrapper .sort-product-wrapp, 
  .woocommerce.tax-product_cat .site-main .products-container .order-form-wrapper .sort-product-wrapp,
  .woocommerce-shop .site-main .products-container .order-form-wrapper .mobile-filter-btn-wrap, 
  .woocommerce.tax-product_cat .site-main .products-container .order-form-wrapper .mobile-filter-btn-wrap {
    background-color: #F6F6F6;
    width: 48%;
    border-radius: 1.3vw;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .woocommerce-shop .site-main .products-container .order-form-wrapper, 
  .woocommerce.tax-product_cat .site-main .products-container .order-form-wrapper {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6vw;
  }

  .woocommerce-shop .site-main .shop-sidebar-wrappe aside.sidebar .side-filter-list .filter-item-content .facetwp-facet .facetwp-checkbox.checked::after, 
  .woocommerce.tax-product_cat .site-main .shop-sidebar-wrappe aside.sidebar .side-filter-list .filter-item-content .facetwp-facet .facetwp-checkbox.checked::after {
    top: .8vw;
    right: .8vw;
    width: 2.4vw;
    height: 2.4vw;
  }

  .card-container .today {
    font-size: 2.93rem;
  }

  .woocommerce ul.products li.product .product-item-link-row .link-to-singl-product, .woocommerce-page ul.products li.product .product-item-link-row .link-to-singl-product {
    font-size: 3.83vw;
  }

  .card-container .attachment-woocommerce_thumbnail {
    margin-bottom: 4.53333rem;
  }

  .woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
    justify-content: center;
  }

  .woocommerce ul.products li.product .price > *, 
  .woocommerce-page ul.products li.product .price > * {
    margin: 0 auto;
  }

  .facetwp-facet-pagination .facetwp-load-more {
    font-size: 3.83vw;
  }

  .woocommerce-shop .site-main .top-filter-category .top-filter-container .top-filter-box .img-cat-filter-wrapp, .woocommerce.tax-product_cat .site-main .top-filter-category .top-filter-container .top-filter-box .img-cat-filter-wrapp {
    width: 85%;
  }

  .products-container .card.vertical > img {
    height: 26.6vw;
    margin-bottom: 5.8vw;
  }

  .woocommerce ul.products li.product .woocommerce-loop-product__title, 
  .woocommerce-page ul.products li.product .woocommerce-loop-product__title,
  .woocommerce ul.products li.product .price, 
  .woocommerce-page ul.products li.product .price {
    font-size: 3.73vw;
  }

  .products-container .facetwp-facet {
    margin-bottom: 10vw!important;
  }

  .card.vertical .card-top {
    margin-bottom: 1rem;
  }

  .woocommerce-shop .site-main .products-container, .woocommerce.tax-product_cat .site-main .products-container {
    padding-right: 0;
  }

  .woocommerce-shop .site-main .shop-sidebar-wrappe aside.sidebar .side-filter-list .filter-item-title, .woocommerce.tax-product_cat .site-main .shop-sidebar-wrappe aside.sidebar .side-filter-list .filter-item-title {
    margin-bottom: 6vw;
  }
}

/* #Product
================================================== */
.single-product .site-main {
  margin-top: 2.25vw;
}

.single-product .woocommerce-breadcrumb {
  padding-right: 3.64vw;
}

#product-purchase-properties-container {
  padding: 2.5rem 17.5rem 0 17.5rem;
}

.woocommerce div.product .woocommerce-tabs .panel > *:first-child {
  margin-bottom: 1vw;
  font-weight: 700;
}

#product-purchase-why-container #product-purchase-why .product-purchase-why-item {
  flex-grow: 1;
}

#product-purchase-choose #productPurchaseChooseSlider .item-column {
  margin-bottom: 3.875rem;
}

#product-purchase-price-total-note svg {
  margin-right: 1vw;
  vertical-align: middle;
}

#product-purchase-watched {
  width: 83.125rem;
}

#product-purchase-why-container #product-purchase-why .product-purchase-why-item {
  height: auto;
}

#product-purchase-choose #productPurchaseChooseSlider .product-name {
  margin-bottom: 1rem;
}

#product-purchase-choose #productPurchaseChooseSlider .choose-item-img {
  margin-bottom: 1.52083rem;
}

#product-purchase-why-container .h2 {
  margin-bottom: 3rem;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
  padding: 0;
}

#product-purchase-nav-container #product-purchase-nav-content {
  margin-bottom: .7rem;
}

#product-purchase-policy-container {
  padding: 7.29167rem 28rem;
}

.woocommerce div.product form.cart .variations {
  margin-bottom: 3em;
}

.woocommerce-variation .single_variation,
.text-new-price {
  font-size: 1.25vw;
}

#product-purchase-properties-container #product-purchase-properties-content #product-purchase-price-total #product-purchase-price-total-btn, #product-purchase-properties-container #product-purchase-properties-content #product-purchase-price-total .single_add_to_cart_button {
  margin-top: 1.08333rem;
}

#product-purchase-properties-container {
  padding: 0 17.5rem 0 17.5rem;
}

#product-purchase-properties-container #product-purchase-properties-content #product-purchase-price-total {
  padding-top: .3rem;
}

.more-link-row-block {
  margin-top: 2vw;
}

@media (max-width: 1023.98px) {
  .single-product .site-main {
    margin-top: 4.16vw;
  }

  .single-product .woocommerce-breadcrumb {
    padding-right: 0;
  }

  #product-purchase-properties-container {
    padding: 6.93333rem 4.8rem 0 4.8rem;
  }

  .woocommerce div.product .woocommerce-tabs .panel > *:first-child {
    margin-bottom: 2.66vw;
  }

  #product-purchase-choose #productPurchaseChooseSlider .item-column {
    margin-bottom: 7.8rem;
  }

  .woo-variation-swatches .variations .variable-items-wrapper:not(.color-variable-wrapper) .variable-item:not(.radio-variable-item) .variable-item-contents {
    padding: 4.88542rem 1.61458rem;
    line-height: 1.3;
  }

  #product-purchase-properties-container #product-purchase-properties-content #product-purchase-price-total {
    padding-top: 4.8rem;
  }

  #product-purchase-properties-container #product-purchase-properties-content #before-trade {
    margin-bottom: 6.28rem;
  }

  #product-purchase-properties-container #product-purchase-properties-content #product-purchase-prices {
    margin-bottom: 7.13333rem;
  }

  #product-purchase-properties-container #product-purchase-properties-content .variations tr {
    padding: 6.34375rem 0 9.34375rem 0;
  }

  #product-purchase-properties-container #product-purchase-properties-content .single_variation_wrap {
    margin-top: 4rem;
  }

  #product-purchase-popular.slider {
    overflow: hidden;
  }

  #product-purchase-popular.slider .swiper-container {
    margin: 0 auto;
    width: 90%;
    overflow: visible;
  }

  .yith_wapo_groups_container .ywapo_input_container {
    padding: 3rem 4.06rem;
  }

  .woocommerce-variation.single_variation p {
    font-size: 4vw;
  }

  .woocommerce div.product form.cart .reset_variations {
    font-size: 4rem;
    margin-top: 3vw;
    display: inline-block;
  }

  .yith_wapo_group_total table td {
    font-size: 3rem;
  }

  #product-purchase-properties-container #product-purchase-properties-content #product-purchase-price-total #product-purchase-price-total-btn, #product-purchase-properties-container #product-purchase-properties-content #product-purchase-price-total .single_add_to_cart_button {
    width: 100%;
    font-size: 5vw;
    padding: 3rem 6.66667rem;
    margin-bottom: 4vw;
  }

  #product-purchase-strips-container {
    font-size: 4vw;
  }

  #product-purchase-why-container #product-purchase-why {
    padding: 0 8.13333rem;
  }

  #product-purchase-why-container #product-purchase-why .product-purchase-why-item .p2 {
    width: 38.46667rem;
  }

  #product-purchase-price-total-note svg {
    margin-right: 1vw;
  }  

  #product-purchase-watched {
    width: 100%;
  }

  #product-purchase-watched .product-purchase-watched-title {
    font-size: 7.33vw;
  }

  #product-purchase-choose #productPurchaseChooseSlider .item-column .img-prod {
    width: 40%;
  }

  #product-purchase-choose #product-purchase-choose-title {
    font-size: 7.33vw;
    margin-bottom: 11.3rem;
  }

  #product-purchase-choose #productPurchaseChooseSlider .product-name {
    margin-bottom: 5.41867rem;
  }

  #product-purchase-choose #productPurchaseChooseSlider .choose-item-img {
    margin-bottom: 7rem;
  }

  #product-purchase-choose #productPurchaseChooseSlider .purchase {
    padding: 3rem 9.13333rem;
  }

  #product-purchase-choose #productPurchaseChooseSlider .item-column .title-big {
    font-size: 14rem;
  }

  #product-purchase-choose #productPurchaseChooseSlider .item-column {
    margin-bottom: 13.13rem;
  }

  .more-link-row-block .more-link {
    width: 12rem;
    height: 12rem;
    font-size: 12rem;
    border-radius: 12rem;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    padding-bottom: 1vw;
  }

  .product-strip {
    padding-bottom: 3.33333rem !important;
  }

  #product-purchase-policy-container {
    padding: 9.33333rem 5.06667rem;
  }

  #product-purchase-why-container .h2 {
    font-size: 7.33vw;
    margin-bottom: 9vw;
  }

  #product-purchase-why-container {
    margin-bottom: 22.22667rem;
  }

  #product-purchase-nav-container {
    padding: 0 5.06667rem;
  }

  .woocommerce div.product .woocommerce-tabs .panel {
    margin: 0 0 3em;
  }

  #product-purchase-policy-container .product-purchase-policy img {
    width: 6.9vw;
  }

  #product-purchase-properties-container #product-purchase-properties-content #product-purchase-title {
    margin-bottom: 6.66667rem;
  }

  #product-purchase-properties-container #product-purchase-properties-content #product-purchase-prices .product-purchase-price.last {
    padding-right: 4.3rem;
  }
  
  #product-purchase-properties-container #product-purchase-properties-content #before-trade {
    margin-bottom: 0;
  }

  .woo-variation-swatches .variations .variable-items-wrapper:not(.color-variable-wrapper) .variable-item:not(.radio-variable-item) {
    margin-bottom: 3.6vw!important;
  }

  .woocommerce-variation-price {
    margin-bottom: 2vw;
  }

  .woo-variation-swatches .variations .variable-items-wrapper:not(.color-variable-wrapper) .variable-item:not(.radio-variable-item) .variable-item-contents {
    border-radius: 1.3vw;
  }

  .go-lightbox-wrapper .media-block-wrapper {
    width: 90%;
  }

  .go-lightbox-wrapper.displayed .media-block-wrapper .top-close-btn-wrapp {
    right: 0!important;
  }

  .go-lightbox-wrapper .media-block-wrapper [data-gol-content-box] {
    font-size: 4vw;
  }
}

/* #Checkout
================================================== */
.cart-terms>div p {
  margin-bottom: 0;
}

@media (max-width: 1023.98px) {
  .woocommerce ul.order_details {
    font-size: 4vw;
  }
}

/* #My Account
================================================== */
.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul {
  align-items: stretch;
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link>a {
  height: 100%;
}

@media (max-width: 1023.98px) {
  .woocommerce-account.logged-out .woocommerce h2, .woocommerce-account.logged-out .woocommerce h3 {
    font-size: 4vw;
  }

  .woocommerce-account.logged-out .woocommerce .u-column1 {
    margin-bottom: 8vw;
  }

  .woocommerce form .form-row {
    padding: 0;
  }

  .woocommerce-account.logged-out .woocommerce .u-column1, 
  .woocommerce-account.logged-out .woocommerce .u-column2 {
    padding: 3.08333rem 4.30208rem;
  }

  .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    padding-left: 0;
  }

  .woocommerce .woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .woocommerce-account .woocommerce .woocommerce-MyAccount-content .woocommerce-Address {
    padding: 4rem;
  }
}

/* #Customer Service
================================================== */
#customer-service-faq-container #customer-service-faq-nav .swiper-container {
  margin-right: 0;
}

#customer-service-nav #customerServiceNavSlider .nav-btn {
  padding: 0;
}

#customer-service-nav {
  margin-bottom: 2.90625rem;
}

#branch-details-container {
  margin-top: 5.2vw;
}

#branch-details-container #branch-subtitle {
  width: 52.07292rem;
}

.branch-service-content h5 {
  font-size: 1.56vw;
  margin-bottom: .78vw;
}

.branch-column-content .branch-service-content .branch-service-content-icons {
  margin-top: 1.8vw;
}

.branch-strip1 {
  margin-bottom: 10vw;
}

.branch-strip2 {
  margin-top: 2vw;
}

.customer-service-links-container .customer-service-links-subtitle {
  margin: 0 auto 1.85rem auto;
}

@media (max-width: 1023.98px) {
  #customer-service-container {
    padding-top: 10vw;
  }

  #customer-service-title, 
  #account-title {
    font-size: 7.33vw;
  }

  .pagination-list-wrapper .page-numbers {
    font-size: 4vw;
    width: 8vw;
    height: 8vw;
    margin: 0 1.26042rem;
  }

  .pagination-list-wrapper .page-numbers {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .paginate-links-row {
    margin-bottom: 10vw;
  }

  #customer-service-nav .link-to-page {
    border-radius: 1.3vw;
  }

  #customer-service-nav {
    margin-bottom: 10vw;
  }

  #branch-details-container #branch-subtitle {
    width: 100%;
  }

  .branch-strip2 {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }

  .branch-strip3 {
    padding: 5.90625rem 5%;
  }

  .customer-service-links-container .customer-service-links-subtitle {
    margin: 0 auto 10rem auto;
  }
}

/* #Category
================================================== */
#product-purchase-popular.slider .slider-choose-type {
  width: 32.04167rem;
}

#product-purchase-popular .swiper-slide {
  height: auto;
}

#product-purchase-popular .swiper-slide .card-container,
#product-purchase-popular .swiper-slide .card {
  height: 100%;
}

#product-purchase-popular .purchase-container {
  margin-top: auto;
}

#product-purchase-popular .card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#product-category-cards .card img.img-top-logo {
  margin-bottom: 1vw;
}

#product-category-cards .card .p1 {
  margin-bottom: 1vw;
}

.card.square {
  padding-top: 2.66354rem;
  height: 37.3rem;
}

.card.square.flip .subtitle {
  margin-bottom: 1rem;
}

@media (max-width: 1023.98px) {
  #productCategoryNav {
    margin-bottom: 4.66667rem;
  }

  #productCategoryNav .category-item .category-item-img {
    margin-bottom: 2.4rem;
  }

  #product-purchase-popular.slider .slider-choose-type {
    width: 90%;
  }

  #product-purchase-popular .radio-btn label {
    font-size: 2.66667rem!important;
  }

  .slider .slider-toggle-title {
    margin-bottom: 6rem;
  }

  .card.square {
    padding-top: 6.66rem;
    padding-bottom: 6.66rem;
    height: auto;
  }
  
  .card.square.flip .subtitle {
    margin-bottom: 1rem;
  }

  #product-category-cards .card.square img.img-top-logo {
    height: 6.93rem;
    margin-bottom: 3vw;
  }

  #product-category-cards .card img.img-top-logo {
    height: 6.93rem;
    margin-bottom: 3vw;
  }

  #product-category-cards .card .p1 {
    margin-bottom: 3vw;
  }

  .card.horizontal.large .card-content .h4 {
    margin-bottom: 3.8rem;
  }

  .card.square .links a {
    margin-bottom: 0!important;
  }

  #product-category-cards .price h4 {
    font-size: 5.33333rem;
  }

  .card.square.flip .price {
    margin-bottom: 5rem;
  }
}

/* #Cart
================================================== */
.cart-container .cart-footer .btn svg,
.cart-container .cart-footer .btn svg > * {
  color: white;
  stroke: white;
}

.cart-container .cart-items {
  display: block;
}

.cart-container {
  z-index: 1000;
}

.woocommerce-info {
  border: none;
}

.woocommerce-error, 
.woocommerce-info, 
.woocommerce-message {
  background-color: transparent;
  color: black;
  padding: 1em 2em 1em 2em;
}

.woocommerce-info::before {
  color: black;
  right: 0;
}

.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button {
  background-color: #2997FF!important;
  color: #fff!important;
  padding: .26042rem 1.40625rem .35rem 1.40625rem;
  font-size: 1.04167rem;
  border-radius: 500px;
  line-height: inherit;
  font-weight: 400;
}

.woocommerce-cart .woocommerce, .woocommerce-cart .woocommerce-page {
  margin-top: 3rem;
}

.coupon-row-wrapper form.checkout_coupon {
  margin-bottom: 0;
}

.woocommerce-cart .woocommerce .cart-collaterals .cart_totals .wc-proceed-to-checkout .checkout-button, .woocommerce-cart .woocommerce-page .cart-collaterals .cart_totals .wc-proceed-to-checkout .checkout-button {
  margin-bottom: 0;
}

.woocommerce-cart .woocommerce .cart-collaterals .cart_totals, 
.woocommerce-cart .woocommerce-page .cart-collaterals .cart_totals {
  margin-bottom: 1vw;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
  font-size: 1.04vw;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button svg, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button svg, 
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button svg {
  color: white;
  stroke: white;
}

@media (max-width: 1023.98px) {
  .cart-container .cart-items .cart-item .cart-item-footer .cart-item-amount button.product-quantity {
    width: 6.66667rem;
    height: 6.66667rem;
    border-radius: 6.66667rem;
    font-size: 4.66667rem;
    line-height: 6.66667rem;
  }

  .cart-container .cart-items .cart-item .cart-item-footer .cart-item-amount .product-quantity-num {
    font-size: 4.66667rem;
    line-height: 6.66667rem;
    margin: 0 3rem;
  }

  .cart-container .cart-items .cart-item .cart-item-footer {
    display: block;
  }

  .cart-container .cart-items {
    font-size: 4vw;
  }

  .woocommerce #respond input#submit, 
  .woocommerce a.button, 
  .woocommerce button.button, 
  .woocommerce input.button {
    font-size: 3.73333rem;
    padding: .66667rem 3.86667rem 1.5rem 3.86667rem;
  }

  .woocommerce-cart .woocommerce, .woocommerce-cart .woocommerce-page {
    margin-top: 4rem;
  }

  .woocommerce-cart .woocommerce .container-cart-wrapper .shopping-cart-title-wrap .shopping-cart-title, .woocommerce-cart .woocommerce-page .container-cart-wrapper .shopping-cart-title-wrap .shopping-cart-title {
    text-align: center;
    font-size: 7.33vw;
    margin-top: 6vw;
  }

  .woocommerce-cart .woocommerce .container-cart-wrapper .shopping-cart-title-wrap .link-to-shop, .woocommerce-cart .woocommerce-page .container-cart-wrapper .shopping-cart-title-wrap .link-to-shop {
    font-size: 4.66vw;
  }

  .woocommerce-cart .woocommerce .container-cart-wrapper .shopping-cart-title-wrap .shopping-cart-title, .woocommerce-cart .woocommerce-page .container-cart-wrapper .shopping-cart-title-wrap .shopping-cart-title {
    margin-bottom: 4.666vw;
  }

  .woocommerce-cart .woocommerce .container-cart-wrapper table .cart_item .product-name, .woocommerce-cart .woocommerce-page .container-cart-wrapper table .cart_item .product-name,
  .woocommerce-cart .woocommerce .container-cart-wrapper table .cart_item .product-thumbnail, .woocommerce-cart .woocommerce-page .container-cart-wrapper table .cart_item .product-thumbnail {
    padding-top: 7.73vw;
  }
}

/* #TV Page
================================================== */
#product-purchase-popular {
  padding-top: 3vw;
}

@media (max-width: 1023.98px) {
  #product-purchase-popular {
    padding-top: 0;
  }
}

/* #Product Info
================================================== */
@media (max-width: 1023.98px) {
  .purchase-sticky .row-logo-box {
    display: none;
  }
}