/* #Global
================================================== */
@media (max-width: 1023.98px) {
  .card.horizontal {
    box-shadow: 0px 12px 21px #00000029;
  }

  .circle .circle-text {
    font-size: 3.2rem;
  }

  .card.horizontal.small .card-content {
    flex-grow: 1;
  }
}

/* #Header
================================================== */
.header .nav-icon:last-child {
  margin-left: 0;
} 

.header .header-logo {
  margin-left: 17vw;
}

/* #Footer
================================================== */
footer .newsletter .email-field input {
  padding-bottom: .52083rem;
  padding-top: .52083rem;
  font-size: 1.04vw;
}

@media (max-width: 1023.98px) {
  footer .newsletter .email-field input {
    padding-bottom: 1.06667rem;
    padding-top: 1.06667rem;
    font-size: 4vw;
  }

  footer .footer-nav-container {
    padding-top: 6vw;
  }
}

/* #Home
================================================== */

/* Header */
#home-header .card .links {
  justify-content: center;
}

#home-header .card .links > * {
  margin: 0 .5vw;
}

/* Properties */
@media (max-width: 1023.98px) {
  #home-properties .h2 {
    margin-bottom: 6rem;
  }

  #home-properties .properties-container .property {
    width: 45rem;
  }

  #home-properties .properties-container .property:first-child {
    border: none;
  }
}

/* Choose */
@media (max-width: 1023.98px) {
  .home-slides-toggle .home-slides-toggle-content .home-choose-type {
    flex-wrap: wrap;
  }

  .home-slides-toggle .home-slides-toggle-content .home-choose-type .radio-btn,
  .home-slides-toggle .home-slides-toggle-content .home-choose-type .radio-btn label {
    display: block;
  }

  .home-slides-toggle .home-slides-toggle-content .home-choose-type .radio-btn {
    margin-bottom: 2vw;
  }
}

/* #Swiper Pagination
================================================== */
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #007AFF;
}

/* #Shop
================================================== */
.facetwp-selections .facetwp-selection-value,
.woocommerce-shop .site-main .products-container .order-form-wrapper .category-clear-sort .btn-reset-sort-select, 
.woocommerce.tax-product_cat .site-main .products-container .order-form-wrapper .category-clear-sort .btn-reset-sort-select {
  font-size: 0.83vw;
}

@media (max-width: 1023.98px) {
  .facetwp-selections .facetwp-selection-value,
  .woocommerce-shop .site-main .products-container .order-form-wrapper .category-clear-sort .btn-reset-sort-select, 
  .woocommerce.tax-product_cat .site-main .products-container .order-form-wrapper .category-clear-sort .btn-reset-sort-select {
    font-size: 4vw;
  }

  .woocommerce-shop .site-main .woocommerce-breadcrumb, .woocommerce.tax-product_cat .site-main .woocommerce-breadcrumb {
    padding-right: 4vw;
    padding-top: 4vw;
  }

  .woocommerce-shop .site-main .products-container .category-items-data-list, .woocommerce.tax-product_cat .site-main .products-container .category-items-data-list {
    padding-right: 4vw;
    margin-bottom: 6vw;
  }

  .woocommerce-shop .site-main .products-container .category-items-data-list ul li .facetwp-selection-value, 
  .woocommerce.tax-product_cat .site-main .products-container .category-items-data-list ul li .facetwp-selection-value {
    padding: 1.3rem 4rem;
    padding-right: 6rem;
    background-position: center right 1.5rem;
  }

  .woocommerce-shop .site-main .products-container .result-count-wrapper, .woocommerce.tax-product_cat .site-main .products-container .result-count-wrapper {
    margin-bottom: 0;
  }

  .woocommerce-shop .site-main .products-container .woocommerce-result-count, .woocommerce.tax-product_cat .site-main .products-container .woocommerce-result-count {
    margin-bottom: 4vw;
  }

  .woocommerce-shop .site-main .top-filter-category, 
  .woocommerce.tax-product_cat .site-main .top-filter-category {
    margin-bottom: 6vw;
  }

  .woocommerce-shop .site-main .products-container .order-form-wrapper, 
  .woocommerce.tax-product_cat .site-main .products-container .order-form-wrapper .products-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: right;
    justify-content: space-between;
    background-color: white;
  }

  .woocommerce-shop .site-main .products-container .order-form-wrapper .category-clear-sort {
    flex: 0 0 100%;
    order: -2;
    margin-bottom: 4vw;
    margin-top: -2vw;
  }

  .woocommerce-shop .site-main .products-container .order-form-wrapper .mobile-filter-btn-wrap, 
  .woocommerce.tax-product_cat .site-main .products-container .order-form-wrapper .mobile-filter-btn-wrap {
    order: -1;
  }

  .woocommerce-shop .site-main .products-container .order-form-wrapper .sort-product-wrapp, 
  .woocommerce.tax-product_cat .site-main .products-container .order-form-wrapper .sort-product-wrapp,
  .woocommerce-shop .site-main .products-container .order-form-wrapper .mobile-filter-btn-wrap, 
  .woocommerce.tax-product_cat .site-main .products-container .order-form-wrapper .mobile-filter-btn-wrap {
    background-color: #F6F6F6;
    width: 48%;
    border-radius: 1.3vw;
    box-shadow: 0 10px 21px rgba(0, 0, 0, .1);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}